.cover{
    background: url('/media/Freelancer.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.cover2{
    background: url('/media/cfD9XU51DFUWFreelancer-Xobin-1024x576.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}