{% extends 'parties/base.html' %}
{% block title %}ressource {% endblock %}
{% block contenu %}
<div class="container mt-5">
  <div class="row mb-3">
    {% for item in items %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col flex-column position-static">
        <div class="col-md-4">
          <strong class="d-inline-block mb-2 text-success">{{item.formation}} </strong>
          <h3 class="mb-0">{{item.langue}}</h3>
        </div>
        <p class="mb-auto">{{item.description}}</p>
        <a href="" class="stretched-link">{{item.liens}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}